/* FONTS */

@font-face {
	font-family: 'Aller';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Aller_Std_Rg.ttf'),
		 url('../fonts/Aller_Std_Rg.woff');
}

@font-face {
	font-family: 'STHeitiSC';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/STHeitiSC.ttf'),
		 url('../fonts/STHeitiSC.woff');
}
